.body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
}
/* devide flex to two items*/
.left-side {
  width: 50%;
  height: 100vh;
  margin-right: 40px;
}

.right_side {
  width: 50%;
  color: rgb(147, 184, 147);
  height: 100vh;
  overflow: hidden;
}
/* the image fit inside the flex item*/
.left-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
